 .Header{
    /* border: 3px solid rgb(159, 10, 10); */
    background-color: #796e6e;
}
.menuHeader{
   font-family: serif;
}
.ulHeader{
    display: flex;
    list-style-type: none ;
    width: auto;
    color: azure;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 50px;
    align-items: center;
}
